{
  "server": true,
  "bootstrap_expect": 1,
  "data_dir": "/etc/consul/data",
  "node_name": "agent.server",
  "bind_addr": "{{ server_dir }}",
  "enable_script_checks": true,
  "client_addr": "0.0.0.0"
}
